
h1 {
	color: rgb(150,0,100);
	background-color: 
}
li {
    background-image: url(https://st.hzcdn.com/simgs/26a164e208e3be8a_4-0623/home-design.jpg);
    background-repeat: no-repeat;
	color: rgba(150,0,100,0.5);
}
h2 {
    background-color: #424b5b;
}
h3 {
    background-color: #9aadce;
}
h4 {
    background-color: rgb(200,50,50)
}